<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" href="./public/css/index.css" />
    <title>chapter 4</title>
  </head>
  <body>
    <!-- Top -->

    <div class="container-fluid">
      <div class="row backgroundBrown">
        <div class="col-12 mb-5">
          <img src="./public/images/_.png" class="ms-5 mt-3 img-fluid" alt="" />
          <img src="./public/images/logo.png" class="ms-5 mt-3 img-fluid" alt="" srcset="" />
          <h1 class="d-inline-block text-warning ms-3 align-middle">ROCK PAPPER SCISSORS</h1>
        </div>
      </div>
    </div>
    <!-- akhir Top -->

    <!-- konten -->

    <!-- player 1 & com -->
    <section id="konten">
      <div class="container-fluid kontenbrown">
        <div class="row mb-5">
          <div class="col-4 text-end">
            <p class="fs-1"><strong>PLAYER 1</strong></p>
          </div>
          <div class="col-4"></div>
          <div class="col-4 text-start">
            <p class="fs-1"><strong>COM</strong></p>
          </div>
        </div>
        <!-- akhir player 1 dan com -->

        <!-- batu -->
        <div class="row mb-5">
          <div class="col-4 text-end">
            <img src="./public/images/batu.png" class="batu player img-fluid" data-value="batu" alt="Batu" />
          </div>
          <div class="col-4"></div>
          <div class="col-4 text-start">
            <img src="./public/images/batu.png" class="batu computer img-fluid" alt="Batu" />
          </div>
        </div>
        <!-- akhir batu -->

        <!-- kertas -->
        <div class="row mb-5">
          <div class="col-4 text-end">
            <img src="./public/images/kertas.png" class="kertas player img-fluid" data-value="kertas" alt="kertas" srcset="" />
          </div>
          <div class="col-4 text-center text-danger">
            <p class="vs"><strong>V S</strong></p>
            <p class="playerWin">PLAYER<br />WIN</p>
          </div>
          <div class="col-4 text-start">
            <img src="./public/images/kertas.png" class="kertas computer img-fluid" alt="kertas" srcset="" />
          </div>
        </div>
        <!-- akhir kertas -->

        <!-- gunting -->
        <div class="row mb-5">
          <div class="col-4 text-end">
            <img src="./public/images/gunting.png" class="gunting player img-fluid" data-value="gunting" alt="Gunting" srcset="" />
          </div>
          <div class="col-4"></div>
          <div class="col-4 text-start">
            <img src="./public/images/gunting.png" class="gunting computer img-fluid" alt="Gunting" srcset="" />
          </div>
        </div>

        <!--akhir gunting  -->

        <!-- reload -->
        <div class="row">
          <div class="col-12 text-center">
            <img src="./public/images/refresh.png" class="reload" alt="Reload" srcset="" />
          </div>
        </div>
        <!-- akhir reload -->
      </div>
    </section>

    <!-- akhir konten -->
    <script src="./public/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
